<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventType">
            <h2><span jhiTranslate="clickplusApp.eventType.detail.title">Event Type</span> {{eventType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="clickplusApp.eventType.name">Name</span></dt>
                <dd>
                    <span>{{eventType.name}}</span>
                </dd>
                <dt><span jhiTranslate="clickplusApp.eventType.description">Description</span></dt>
                <dd>
                    <span>{{eventType.description}}</span>
                </dd>
                <dt><span jhiTranslate="clickplusApp.eventType.createdAt">Created At</span></dt>
                <dd>
                    <span>{{eventType.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="clickplusApp.eventType.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{eventType.updatedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-type', eventType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
